
                <section class="col-lg-9 col-md-9">
                    <div class="breadcrumbs-katalog">
                        {% include breadcrumbs.html %}
                    </div>
                    <div class="row">
                    {% for katalog in paginator.posts %}
                        <article class="col-lg-4 col-6 mb-5">
                            <div class="article-card-1">
                                <div class="article-ba-header">
                                    <img src="{{ katalog.image }}" alt="{{ katalog.title }}">
                                </div>
                                <div class="article-ba-body">
                                    <h2><a href="{{ katalog.url }}">{{ katalog.title }}</a></h2>
                                    <div class="writer">{{ katalog.author }}</div>
                                </div>
                            </div>
                        </article>
                    {% endfor %}
                    </div>
                </section>