<!-- SECTION SUBSCRIBE -->
<section id="subscribe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container-subscribe">
                    <h2>Dapatkan Info menarik seputar buku<br /> dari ahlan.id</h2>
                    <form action="#" method="POST">
                        <div class="row">
                            <div class="col-lg-12">
                                <label class="sr-only" for="form-subscribe">Subscribe</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="form-subscribe" placeholder="Example@customer.com">
                                    <div class="input-group-prepend">
                                        <button class="input-group-text"><span>Langgananan Sekarang</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>