---
layout: default
---

<main id="main-form-agen">
    <div class="container-fluid">
        <div class="row mb-3 mb-lg-5">
            <article class="col-lg-12">
                <h1>Form Agen Ahlan</h1>
            </article>
        </div>
        <!-- FORM VERSI MOBILE -->
        <div id="form-mobile" class="row">
            <div class="col-lg-12 mb-4">
                <div id="step-form-ba">
                    <div class="line-1"></div>
                    <div class="step-1" data-step="1">
                        <div class="step-circle-1">
                            <div class="bg-white">
                                <div class="circle-ba active">
                                    <span>1</span>
                                </div>
                            </div>
                        </div>
                        <div class="step-text text-left active">Langkah Pertama</div>
                    </div>
                    <div class="step-2" data-step="2">
                        <div class="step-circle-2">
                            <div class="bg-white">
                                <div class="circle-ba">
                                    <span>2</span>
                                </div>
                            </div>
                        </div>
                        <div class="step-text text-center">Langkah Kedua</div>
                    </div>
                    <div class="step-3" data-step="3">
                        <div class="step-circle-3">
                            <div class="bg-white">
                                <div class="circle-ba">
                                    <span>3</span>
                                </div>
                            </div>
                        </div>
                        <div class="step-text text-right">Selesai &nbsp;</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <form action="#" method="POST">
                    <div class="form-step-1 active">
                        <div class="row mb-3">
                            <div class="col">
                                <h2>Kontak Pribadi</h2>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="firstName">Nama depan*</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nama Depan">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="email">email*</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="email@gmail.com">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="telphone">No telphone*</label>
                                <input type="text" class="form-control" id="telphone" name="telphone" placeholder="08123456789">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <button type="button" class="btn" data-button="1">SELANJUTNYA</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-step-2">
                        <div class="row mb-3">
                            <div class="col">
                                <h2>Kontak Toko</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="facebook">Facebook</label>
                                <input type="email" class="form-control" id="facebook" name="facebook" placeholder="Facebook">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="whatsapp">Whatsapp</label>
                                <input type="text" class="form-control" id="whatsapp" name="whatsapp" placeholder="08123456789">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="kontak_lainnya">kontak lainnya</label>
                                <textarea name="kontak_lainnya" id="kontak_lainnya" class="form-control" rows="7" placeholder="Place your text"></textarea>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <button type="button" class="btn" data-button="2">SELANJUTNYA</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-step-3">
                        <div class="row mb-3">
                            <div class="col">
                                <h2>Alamat</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="provinsi">Provinsi*</label>
                                <input type="text" class="form-control" id="provinsi" name="provinsi" placeholder="Provinsi">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="kabupaten">Kabupaten*</label>
                                <input type="text" class="form-control" id="kabupaten" name="kabupaten" placeholder="Kabupaten">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="kecamatan">Kecamatan*</label>
                                <input type="email" class="form-control" id="kecamatan" name="kecamatan" placeholder="Kecamatan">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="kode_pos">Kode Pos*</label>
                                <input type="text" class="form-control" id="kode_pos" name="kode_pos" placeholder="Kode POS">
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-12">
                                <label for="alamat">Alamat*</label>
                                <textarea name="alamat" id="alamat" class="form-control" rows="5" placeholder="Place your text"></textarea>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="checkbox">
                                    <label class="custom-control-label" for="checkbox">Dengan ini saya menyetujui menjadi agen ahlan</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <button type="submit" class="btn">KIRIM</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- FORM VERSI DESKTOP -->
        <div id="form-desktop" class="row">
            <div class="col-lg-9">
                <form action="#" method="POST">
                    <div class="row mb-3">
                        <div class="col">
                            <h2>Kontak Pribadi</h2>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="firstName">Nama depan*</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Nama Depan">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="email">email*</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="email@gmail.com">
                        </div>
                        <div class="col">
                            <label for="telphone">No telphone*</label>
                            <input type="text" class="form-control" id="telphone" name="telphone" placeholder="08123456789">
                        </div>
                    </div>
                    <div class="row mt-5 mb-3">
                        <div class="col">
                            <h2>Kontak Toko</h2>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="facebook">Facebook</label>
                            <input type="email" class="form-control" id="facebook" name="facebook" placeholder="Facebook">
                        </div>
                        <div class="col">
                            <label for="whatsapp">Whatsapp</label>
                            <input type="text" class="form-control" id="whatsapp" name="whatsapp" placeholder="08123456789">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="kontak_lainnya">kontak lainnya</label>
                            <textarea name="kontak_lainnya" id="kontak_lainnya" class="form-control" rows="10" placeholder="Place your text"></textarea>
                        </div>
                    </div>
                    <div class="row mt-5 mb-3">
                        <div class="col">
                            <h2>Alamat</h2>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="provinsi">Provinsi*</label>
                            <input type="text" class="form-control" id="provinsi" name="provinsi" placeholder="Provinsi">
                        </div>
                        <div class="col">
                            <label for="kabupaten">Kabupaten*</label>
                            <input type="text" class="form-control" id="kabupaten" name="kabupaten" placeholder="Kabupaten">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="kecamatan">Kecamatan*</label>
                            <input type="email" class="form-control" id="kecamatan" name="kecamatan" placeholder="Kecamatan">
                        </div>
                        <div class="col">
                            <label for="kode_pos">Kode Pos*</label>
                            <input type="text" class="form-control" id="kode_pos" name="kode_pos" placeholder="Kode POS">
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6">
                            <label for="alamat">Alamat*</label>
                            <textarea name="alamat" id="alamat" class="form-control" rows="5" placeholder="Place your text"></textarea>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox">
                                <label class="custom-control-label" for="checkbox">Dengan ini saya menyetujui menjadi agen ahlan</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="submit" class="btn">DAFTAR AGEN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>